<section>
    <div class="modal fade" id="observeModel" tabindex="-1" aria-labelledby="observeModel" aria-hidden="true" data-bs-theme="dark">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="observeModel">Меню создания нового заказа</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 justify-content-between d-flex">
                        <h4>Адрес получателя: </h4><h4 id="viewRecipientAddress"></h4>
                    </div>
                    <div class="mb-3 justify-content-between d-flex">
                        <h4>Город получателя: </h4><h4 id ="viewRecipientCity"></h4>
                    </div>
                    <div class="mb-3 justify-content-between d-flex">
                        <h4>Адрес отправителя: </h4><h4 id="viewSenderAddress"></h4>
                    </div>
                    <div class="mb-3 justify-content-between d-flex">
                        <h4>Город отправителя: </h4><h4 id="viewSenderCity"></h4>
                    </div>
                    <div class="mb-3 justify-content-between d-flex">
                        <h4>Вес: </h4><h4 id="viewWeight"></h4>
                    </div>
                    <div class="mb-3 justify-content-between d-flex">
                        <h4>Дата забора: </h4><h4 id="viewDate"></h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>